.btns {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;

	.btn {
		text-transform: capitalize;

		background-color: transparent;
		color: #273242;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		border: none;
		height: 30px;
	}

	.active {
		text-transform: capitalize;

		background-color: transparent;
		color: #273242;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		border: none;
		height: 30px;
		border-bottom: 1px solid #273242;
	}
}
