@import 'react-day-picker/dist/style.css';

body {
	background-color: rgba(244, 244, 244, 1);
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-family: var(--font-montserrat), system-ui, sans-serif;
	cursor: pointer !important; /* тест */
	pointer-events: auto !important;
}
