.Page {
	width: 100%;
	padding: 30px 40px 0 20px;
	display: grid;
	grid-template-columns: 1fr 350px;
	gap: 25px;

	.upside {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	.toneFilters {
		display: flex;
		align-items: end;
		gap: 5px;

		.btn {
			display: flex;
			gap: 5px;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			height: 30px;
			border-radius: 3px;
			border: 1px solid #c5c5c5;
			box-shadow: 2px 3px 4.7px 0px #34547d08;

			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			color: #273242;
		}
	}
}
